fastapi
uvicorn[standard]
sqlalchemy
pymysql
python-dotenv
alembic
pydantic
pydantic-settings>=2.3.4
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
python-multipart
opencv-python-headless
numpy